*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: #202020;
    --text: #d7d7d7;
    --shadow1: #161616;
    --shadow2: #2f2f2f;
}
body{
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--shadow1), -5px -5px 10px var(--shadow2);
}
form h1{
    margin: 0 0 10px 0;
    color: var(--text);
    text-align: center;
}
.converter{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto 20px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px var(--shadow1), inset -5px -5px 10px var(--shadow2);
}
.converter .input, .converter .output{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 100%;
    width: 100%;
}
i.arrow{
    font-size: 32px;
    position: absolute;
    top: 50%;
}
select{
    padding: 10px;
    margin: 20px auto;
    border: none;
    color: var(--text);
    background: var(--bg);
    border-bottom: 2px solid #636363;
    outline: none;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
}
select option{
    color: var(--text);
    background: var(--bg);
    border-bottom: 2px solid #636363;
}
input, h2{
    padding: 10px;
    height: 24px;
    width: 90%;
    font-size: 18px;
    height: 50px;
    background: rgba(149, 149, 149, 0.252);
    /* background: var(--bg); */
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    /* box-shadow: 1px 1px 5px #414141, -3px -3px 5px #ffffff; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button{
    margin: 20px 0 10px 0;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    background-color: var(--bg);
    border: 2px solid #d7d7d7;
    cursor: pointer;
    transition: .5s ease;
}
button:hover{
    background-color: #d7d7d7;
    color: #000;
}


hr{
    margin: 0 20px;
}
footer{
    z-index: 1;
    display: block;
    width: 100%;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
footer a{
    color: #fff;
    transition: .5s;
}
footer a:hover{
    color: #bebebe;
}

@media (max-width: 924px){
    body{
        padding: auto;
    }
    form{
        margin: 50px;
        height: 100%;
        width: auto;
    }
    .converter{
        flex-direction: column;
    }
    .converter .input, .converter .output{
        width: 70%;
    }
    i.arrow{
        transform: rotate(90deg);
    }
}