@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Red+Hat+Display:wght@600&family=Titillium+Web:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Pixelify+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ::-webkit-scrollbar{
    display: none;
} */


:root{
    --bg_color: #dcdcdc;
    --sec_bgcolor: #eee;
    --ter_bgcolor: #f6c90e;
    --border_color: rgb(0, 0, 0);

    --pri_text_color: rgb(0, 0, 0);
    --sec_text_color: rgb(0, 4, 255);


    /* font family */
    --nav_text_family: 'Source Code Pro', monospace;
    --pri_text_family: 'Chakra Petch', sans-serif;
    --sec_text_family: 'Red Hat Display', sans-serif;
    --ter_text_family: 'Titillium Web', sans-serif;

    --pri_pixel: 'Pixelify Sans', sans-serif;
    --sec_pixel: 'Handjet', sans-serif;
}

/* dark mode color palette */
@media (prefers-color-scheme: dark){
    :root{
        --bg_color: rgb(54, 54, 54);
        --sec_bgcolor: rgb(40, 40, 40);
        --border_color: rgba(100, 100, 100, 0.85);
        
        --pri_text_color: rgb(252, 252, 225);
        --sec_text_color: rgb(59, 255, 245);
    }
}

body{
    background-color: var(--bg_color);
    /* border: 2px solid red; */
}

a{
    text-decoration: none;
}


.title h1{
    height: 70px;
    line-height: 50px;
    padding: 10px;
    color: var(--pri_text_color);
    font-family: var(--pri_text_family);
    font-weight: 500;
    letter-spacing: 4px;
    position: relative;
    text-shadow: 2px 2px 1px red, -2px -2px 2px blue, -3px -3px 1px green;
    animation: glitch .75s infinite;
}
.title h1 span{
    position: absolute;
    padding: 0 10px;
    left: 0;
    text-shadow: 2px 2px 1px red, -2px -2px 2px blue, -3px -3px 1px green;
}
.title h1 span:first-child{
    left: 1px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
    animation: glitch .5s infinite alternate, move .5s infinite;
}
.title h1 span:last-child{
    left: -1px;
    z-index: 1;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    animation: glitch 1s infinite reverse, move .5s reverse infinite;
}
@keyframes move{
    from{
        left: 0;
    }
    to{
        left: 1px;
    }
}
@keyframes glitch{
    0%{
        text-shadow: 3px 3px 1px green, -1px -1px 1px red, -3px -3px 1px blue;
    }
    24%{
        text-shadow: 2px 2px 1px green, -2px -2px 2px red, -3px -3px 1px blue;
    }
    25%{
        text-shadow: 2px 2px 1px blue, -2px -2px 2px green, -3px -3px 1px red;
    }
    84%{
        text-shadow: 2px 2px 1px blue, -2px -2px 2px green, -3px -3px 1px red;
    }
    85%{
        text-shadow: 2px 2px 1px red, -2px -2px 2px blue, -3px -3px 1px red;
    }
    100%{
        text-shadow: 2px 2px 1px green, -2px -2px 2px red, -3px -3px 1px blue;
    }
}

/* -------------- Navigation -------------- */
nav{
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 150px;
    transition: .3s ease-in-out;
    /* border: 2px solid red; */
}
nav ul{
    height: 100vh;
    list-style: none;
    /* border: 2px solid red; */
    /* position: relative; 
    top: 50%;
    transform: translateY(-40%);*/
}
nav ul li{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec_bgcolor);
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
    transition: .3s ease-in-out;
}
nav ul li:hover{
    background-color: transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
}
nav ul li.logo{
    height: 150px;
    width: 150px;
    cursor: default;
    background-color: var(--sec_bgcolor);
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}
nav ul li.logo img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    filter: grayscale(1);
}
nav ul li a{
    color: var(--pri_text_color);
    font-size: 22px;
    font-family: var(--nav_text_family);
    transition: .2s ease-in-out;
}
nav ul li a:hover{
    color: var(--sec_text_color);
    cursor: pointer;
}
nav ul>div{
    height: 100%;
    border-right: 1px solid var(--border_color);
    background-color: var(--sec_bgcolor);
}
nav ul .socials{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul .socials a{
    margin: 10px 7px;
    font-size: 20px;
    color: var(--sec_text_color);
    transition: .2s;
}
nav ul .socials a:hover{
    transform: scale(1.4);
}
input[type="radio"]{
   display: none;
}
.buttons{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 28px;
    cursor: pointer;
    color: var(--pri_text_color);
}
.ham{
    position: fixed;
}
#ham:checked ~ nav{
    left: 0 !important;
}
#ham:checked ~ .ham{
    visibility: hidden;
    transition: .2s ease-in-out;
}
#buttons{
    background-color: var(--main_bgcolor);
    border-right: 0px;
}
.sidebar ul{
    list-style: none;
}

.buttons, #buttons{
    display: none;
}


@media (max-width: 924px) {
    nav{
        left: -110%;
        width: 100%;
    }
    nav ul li{
        border-right: none;
    }
    nav ul li:hover{
        background-color: var(--sec_bgcolor);
    }
    nav ul li.logo{
        width: 100%;
        border-right: none;
    }
    nav ul>div{
        border-right: none;
    }
    .buttons, #buttons{
        display: block;
    }
}
/* --------X----- Navigation -------X------ */

/* ----------------- Home ----------------- */
#sec1{
    height: 100vh;
}
.home{
    height: 90vh;
    width: 55vw;
    margin: auto;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
.home h1{
    text-align: left;
    color: var(--bg_color);
    user-select: none;
}
.home h1.hello{
    font-size: 32px;
    font-family: var(--pri_pixel);
    font-weight: 10;
    letter-spacing: 2px;
    text-shadow: 2px -2px 3px #fff, -1px 2px 3px #000;
}
.home h1.name{
    font-size: 80px;
    letter-spacing: 5px;
    font-family: var(--pri_pixel);
    text-shadow: 3px -3px 4px #fff, -2px 2px 4px #000;
}
h1.name span:hover{
    /* text-shadow: -0px 0px 3px #fff, 1px -1px 3px #000; */
    transition: .5s ease-in-out;
    cursor: 50px;
}
.home h1.info{
    font-size: 24px;
    text-shadow: none;
    color: var(--sec_text_color);
    font-family: var(--nav_text_family);
}

@media (prefers-color-scheme: dark){
    .home h1.hello{
        text-shadow: 1px -1px 2px #616161, -2px 2px 3px #000;
    }
    .home h1.name{
        text-shadow: 3px -3px 3px #505050, -3px 3px 3px #000;
    }
    .home h1.greetings{
        text-shadow: 1px -1px 2px #747474, -2px 2px 3px #000;
    }
}

@media (max-width: 924px) {
    .home{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    .home h1{
        text-align: left;
        text-shadow: 1px -1px 3px #6b6b6b, -2px 2px 3px rgb(15, 15, 15);
    }
    .home h1.hello{
        font-size: 24px;
    }
    .home h1.name{
        font-size: 40px;
    }
    .home h1.greetings{
        font-size: 20px;
    }
    .home h1.info{
        font-size: 18px;
    }
}

/* ----------------- Light Bulb ----------------- */
.light{
    position: absolute;
    top: -20px;
    left: 80%;
    /* border: 1px solid red; */
}
.bulb{
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 60px;
    border-radius: 90%;
    background-color: #fff;
    box-shadow: 0px 0px 20px #fff;
    /* border: 1px solid red; */
}
.bulb:before{
    content: ' ';
    display: inline-block;
    height: 20px;
    width: 25px;
    position: relative;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-top: 22px solid #000000;
    border-radius: 10px 10px 0 0;
    /* border: 1px solid red; */
}
.wire{
    height: 100px;
    width: 5px;
    background-color: #000000;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid red; */
}

/* @media (prefers-color-scheme: dark){
    .light{
        display: none;
    }
} */
/* --------X-------- Light Bulb ---------X------- */

/* --------X-------- Home ---------X------- */




/* ----------------- About ----------------- */
#sec2{
    height: 100vh;
    background-image: url(../common/bg.png);
    background-size: 60%;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
}
.about{
    height: 90vh;
    width: calc(100vw - 400px);
    margin: auto;
    /* border: 2px solid red; */
}


/* ----------------- Projects ----------------- */
#sec3{
    /* height: 100vh; */
    background-color: var(--bg_color);
    background-size: 60%;
}
@media (max-width: 924px){
    .projects{
        background-size: 200%;
    }
}
.projects{
    width: calc(100vw - 400px);
    margin: auto;
    border: 2px solid transparent;
}
.projects .list{
    padding: 60px 30px;
    display: flex;
}
.projects .list .project{
    position: relative;
    margin: 0 20px;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    border: 4px solid #ffffff;
    /* border: 2px solid red; */
}
.projects .list .project img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
    border-radius: 30px;
    /* border: 2px solid #ffffff; */
    box-shadow: 5px 5px 10px #454545, -5px -5px 10px #454545;
}
.projects .list .project .text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;
}
.projects .list .project h3{
    display: inline;
    color: var(--pri_text_color);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.projects .list .project h3>a{
    color: var(--pri_text_color);
}
.projects .list .project h3>a:hover{
    color: var(--sec_text_color);
}
.projects .list .project .text h4{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
    /* border: 2px solid red; */
}
.projects .list .project h4 a{
    color: var(--pri_text_color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    border: 2px solid var(--pri_text_color);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.projects .list .project h4 a:hover{
    color: var(--bg_color);
    background-color: var(--pri_text_color);
}
.projects .list .project .text p{
    color: var(--sec_text_color);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

@media (max-width: 924px) {
    .projects{
        width: 100%;
        height: 100%;
    }
    .projects .title>h1{
        height: 30px;
        line-height: 30px;
        margin: 15px;
        font-size: 32px;
        padding: 0;
        text-align: center;
    }
    .projects .list{
        height: calc(100% - 100px);
        flex-direction: column;
        overflow-x: hidden;
        padding: 10px;
    }
    .projects .list .project{
        margin: 20px 0;
    }
    .projects .list .project .text{
        text-align: center;
        padding: 10px;
    }
    .projects .list .project h4{
        width: 100%;
        align-items:start;
        margin: 10px;
    }
}
/* --------X-------- Projects ---------X------- */



/* ----------------- Contact ----------------- */
#sec4{
    height: 100vh;
    background-color: var(--bg_color);
}
.contact{
    width: calc(100vw - 400px);
    margin: auto;
    margin-bottom: 20px;
}
.container{
    position: relative;
    margin: 25px;
    min-height: calc(100vh - 150px);
    z-index: 1000;
}
.container .info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: calc(100% - 100px);
    background-color: rgba(255, 255, 255, 0.137);
    color: var(--pri_text_color);
    z-index: 1;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
.container .info img{
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid var(--bg_color);
}
.container .info ul, .container .info .socials{
    list-style: none;
    margin: 0 auto;
    font-family: var(--ter_text_family);
}
.container .info ul.details li{
    display: flex;
    align-items: center;
    padding: 5px;
}
.container .info ul.details li i{
    padding: 5px;
    font-size: 28px;
    cursor: pointer;
}
.container .info ul.details li span a{
    text-decoration: none;
    color: var(--pri_text_color);
    padding: 5px;
    font-size: 18px;
}
.container .info .socials{
    display: flex;
}
.container .info .socials{
    margin-top: 50px;
}
.container .info .socials a{
    text-decoration: none;
    color: var(--sec_text_color);
    padding: 15px;
    font-size: 20px;
}
.container .info .socials a i{
    transition: .5s;
}
.container .info .socials a i:hover{
    transform: scale(1.5);
}

.container .form{
    position: absolute;
    left: 0;
    padding: 0 80px 0 200px;
    margin-left: 180px;
    width: calc(100% - 170px);
    height: 100%;
    color: var(--pri_text_color);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.30);
    background: var(--sec_bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form h2{
    user-select: none;
    height: 75px;
    display: flex;
    align-items: center;
    color: var(--sec_text_color);
    font-family: var(--nav_text_family);
    font-size: 32px;
    letter-spacing: 3px;
}
.inputbox span{
    font-family: var(--pri_text_family);
    font-size: 18px;
    line-height: 1.8;
}
.container .form form .inputbox{
    width: 100%;
    padding: 15px 0;
    padding-bottom: 25px;
    position: relative;
}
.container .form form .inputbox input,
.container .form form .inputbox textarea{
    width: 100%;
    resize: none;
    padding: 1px 0;
    font-size: 18px;
    color: var(--pri_text_color);
    font-family: var(--sec_text_family);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border_color);
    background: transparent;
}
.container .form form .inputbox input::placeholder{
    color: transparent;
    opacity: 0;
    visibility: hidden;
}
.container .form form .inputbox textarea{
    height: 120px;
    color: var(--pri_text_color);
    font-family: var(--pri_text_family);
}
.container .form form .inputbox span{
    position: absolute;
    left: 0;
    margin-top: -5px;
    pointer-events: none;
    transition: .3s;
}
.container .form form .inputbox input:focus ~ span, .container .form form .inputbox input:not(:placeholder-shown) ~ span,
.container .form form .inputbox textarea:focus ~ span, .container .form form .inputbox textarea:valid ~ span{
    transform: translateY(-18px);
    opacity: .8;
    font-size: calc(16px);
}
.container .form form .inputbox.submit{
    max-width: 150px;
    margin-left: auto;
}
.container .form form .inputbox.submit input{
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    transition: .5s;
}
.container .form form .inputbox.submit input:hover{
    background: var(--bg_color);
}

@media screen and (max-width: 768px) {
    .contact{
        padding-top: 45px;
        margin: 0 10px;
        margin-bottom: 20px;
    }
    .container{
        position: relative;
        margin: 0;
        min-height: 100vh;
        z-index: 1;
    }
    .container .info{
        position: unset;
        transform: translateY(0);
        width: 100%;
        height: auto;
        box-shadow: unset;
        background-color: unset;
    }
    .container .info ul, .container .info ul.social li{
        margin-top: 30px;
    }
    .container .info ul.details li{
        padding: 10px;
    }
    .container .form{
        position: relative;
        margin-top: 20px;
        border-top: 2px solid var(--sec-bg-color);
        margin-left: 0;
        padding: 0;
        width: 100%;
        box-shadow: unset;
        background: unset;
    }
    .container .form form .inputbox.submit input{  
        background-color: var(--sec-bg-color);
        color: #f1f1f1;
    }
}
/* --------X-------- Contact ---------X------- */